body {
    margin: 0;
    padding: 0;
}

div#loadScreen {
    background: black;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 100%;
}

div#loadScreen > div#loading {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 300px auto;
}

.logo {
    width: 100%;
    position: fixed;
    visibility: hidden;
}

.logoCover {
    width: 100%;
    position: fixed;
    right: 100%
}

.subHead {
    font-family: 'Press Start 2P', cursive;
    margin: 10px 15px;
    position: fixed;
    bottom: 0px;
    line-height: 150%;
    visibility: hidden;
}

ul {
    list-style: none;
    position: fixed;
    padding: 10px;
    margin: 0;
    right: 2px;
    bottom: 0px;
    background-color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.content {
    max-width: 90%;
    display: inline;
    margin: 0.2% 5%;
    text-align: center;
}

.aboutContent {
    width: 96%;
    max-width: 1000px;
    display: inline;
    margin: 0.2% 2%;
    text-align: right;
    float: right;
}

li {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    padding: 5px;
}

.header {
    width: 100%;
    height: 37px;
}

.footer {
    width: 100%;
    height: 37px;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 15%;
    padding: 10px;
    width: 350px;
}

.info1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    margin: 0;
    padding: 10px;
    bottom: 0px;
}

@media only screen and (max-width: 871px) {
    .info {
        width: 90%;
        position: relative;
        padding: 15px;
    }

    .info1 {
        position: relative;
        padding: 15px;
    }
}

.boxAnim1 {
    width: 0px;
    height: 24px;
    position: fixed;
    bottom: 15px;
    left: 13px;
    float: left;
    background-color: black;
    border: 1px solid #000;
    z-index: 1001;
    visibility: hidden;
}

.boxAnim2 {
    width: 0px;
    height: 26px;
    position: fixed;
    bottom: 50px;
    left: 13px;
    float: left;
    background-color: black;
    border: 1px solid #000;
    z-index: 1001;
    visibility: hidden;
}

.boxAnim3 {
    width: 0px;
    height: 26px;
    position: fixed;
    bottom: 87px;
    left: 13px;
    float: left;
    background-color: black;
    border: 1px solid #000;
    z-index: 1001;
    visibility: hidden;
}

.boxAnim4 {
    width: 0px;
    height: 25px;
    position: fixed;
    bottom: 125px;
    left: 13px;
    float: left;
    background-color: black;
    border: 1px solid #000;
    z-index: 1001;
    visibility: hidden;
}