body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
}

.subHead {
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
    position: fixed;
    bottom: 0px;
    line-height: 130%;
}